{% load static %}

<!-- Invoice List Table -->
<section class="">
    <!-- Table Header -->
    <div class="invoice-table-row invoice-table-header bg-white mt-12 rounded-xl px-3  py-2 flex items-left gap-x-1
    text-sm font-semibold  text-gray-600">


    </div><!-- /Table Header -->
    <div class="text-right mb-3 mx-3">
        <a href="{% url 'add_money' %}">
            <button type="button" class="btn btn-outline-primary">Add</button>
        </a>
    </div>

    <!-- Table Body -->
    <div class="bg-white mt-5 rounded-xl text-sm   text-gray-500 divide-y divide-indigo-50 overflow-x-auto  shadow">
        <div class="sim__col__body p-lr1">
            <div class="sim__table">
                <table>
                    <thead>
                    <tr>
                        <th class="text-left">Order ID</th>
                        <th class="text-left">User</th>
                        <th class="text-left">Amount</th>
                        <th class="text-left">Transaction Type</th>
                        <th class="text-left"></th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for item in money_transactions %}
                        <tr>
                            <td><a class="fw-bold" href="#"> {{ item.id }} </a></td>
                            <td>{{ request.user.username }}</td>
                            <td>{{ item.amount }}</td>
                            <td class="text-left">{{ item.transaction_type }}</td>


                            <td class="text-center">
                                <a href="{% url 'update_money' %}">
                                    <button type="button" class="btn btn-outline-warning">Update</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- /Table Body -->


</section>
<!-- /Invoice List Table -->
