{% load static %}

<aside class="bg-white  py-10 pl-10  min-w-min   border-r border-indigo-900/20  ">
    <div class=" font-bold text-xl">Stock Tracking</div>


    <!-- Menu -->
    <div class="mt-12 flex flex-col space-y-7 text-gray-500 font-medium">


        <a class=" flex items-center space-x-2 py-1  font-semibold  border-r-2 border-r-indigo-700 pr-20 " href="
{% url 'index' %}">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
           href="{% url 'track_list' %}">
            <div class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>

            </div>
            <span>Tracking List</span>
        </a>


        </a>
        <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
           href="{% url 'principal' %}">
            <div class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <span>Cash Flow</span>
        </a>

        <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
           href="{% url 'stock_list' %}">
            <div class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <span>Stock List</span>

            <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
               href="{% url 'account' %}">
                <div class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <i class="fa fa-address-book" aria-hidden="true"></i>

                </div>
                <span>Account</span>
            </a>

            <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
               href="{% url 'change_pass' %}">
                <div class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <i class="fa-solid fa-key"></i>

                </div>
                <span>Change Password</span>
            </a>

            <div>
                <i class="fa-solid fa-gears"></i>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Settings
                </button>
            </div>


    </div><!-- /Menu -->
</aside><!-- /Sidebar -->







