{% load static %}

<!-- Invoice List Table -->
<section class="">


    <div class="text-right mb-3 mx-3">
        <a href="{% url 'add_stock' %}">
            <button type="button" class="btn btn-outline-primary">Add</button>
        </a>
    </div>
    <!-- Table Body -->
    <div class="bg-white mt-5 rounded-xl text-sm   text-gray-500 divide-y divide-indigo-50 overflow-x-auto  shadow">
        <div class="sim__col__body p-lr1">
            <div class="sim__table">
                <table>
                    <thead>
                    <tr>
                        <th class="text-left">Order ID</th>
                        <th class="text-left">Symbol</th>
                        <th class="text-left">Stock Name</th>
                        <th class="text-left"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in stocks %}
                        <tr>
                            <td><a class="fw-bold" href="#"> {{ item.id }} </a></td>
                            <td>{{ item.symbol }}</td>
                            <td>{{ item.name }}</td>

                            <td class="text-center">
                                <a href="{% url 'update_item' item.id %}">
                                    <button type="button" class="btn btn-outline-warning">Update</button>
                                </a>

                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        {#                <div class="text-right" >#}
        {#                    <button onclick="window.location.href='{% url 'delete_item' item.id %}'" type="button" class="btn  px-4 py-1#}
        {#                    rounded-lg bg-rose-400  text-white "#}
        {#                            style="margin-left: 10px;">DELETE#}
        {#                    </button>#}
        {#                </div>#}
        {##}
        {#                <div class="text-right">#}
        {#                    <button onclick="window.location.href='{% url 'update_item' item.id %}'" type="button" class="btn  px-4 py-1 rounded-lg bg-yellow-200  text-gray-600 "#}
        {#                            style="margin-left: 10px;">UPDATE#}
        {#                    </button>#}
        {#                </div>#}
        {#            </div>#}

    </div>
    <!-- /Table Body -->


</section>
<!-- /Invoice List Table -->
