    {% load static %}
<section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title">
                <h2>Gallery</h2>
                <p>The text you provided appears to be a series of random or nonsensical sentences in Latin or a similar language. If you would like me to adapt this text for a specific purpose or provide a meaningful description in English, please provide more context or information about what you're looking for, and I'd be happy to assist you further.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-1.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-2.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-3.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-4.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-5.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-6.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-7.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% get_media_prefix %}img/gallery/gallery-8.jpg" class="galleery-lightbox"
                           data-gallery="gallery-item">
                            <img src="{% get_media_prefix %}img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->