{% load static %}

<div class="container-fluid p-0" style="background-color: cadetblue;color: #e5e7eb;text-align: center;vertical-align: center" >

        {% for message in messages %}

            {% if message.tags == 'success' %}


                <div class="alert alert-primary  d-flex align-items-center" role="alert" id="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/>
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>

            {% elif message.tags == 'info' %}
                <div class="alert alert-info d-flex align-items-center" role="alert" id="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                        <use xlink:href="#info-fill"/>
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% elif message.tags == 'warning' %}
                <div class="alert alert-warning d-flex align-items-center" role="alert" id="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                         aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger d-flex align-items-center" role="alert" id="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                         aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>


            {% endif %}

        {% endfor %}


    </div>
