{% load static %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>TRACK YOUR STOCKS INTELLIGENTLY
                    </h1>
                <p style="text-align: justify">Make data-driven investment decisions with our intuitive stock tracking
                    platform.
                    Monitor
                    overall
                    portfolio performance and drill down to individual stocks with personalized dashboards.

                    Cut through the noise with AI-powered market analytics that surface emerging trends and
                    opportunities. Get notified when holdings hit key thresholds so you never miss the right time to buy
                    or sell.

                    Track analyst ratings, earnings reports, SEC filings and more to base decisions on insights, not
                    just intuition. Customizable stock screener finds hidden gems based on valuation, growth potential
                    and other factors.

                    Invest wisely as markets move with interactive charts, price alerts, peer benchmarking and other pro
                    tools. Focus on what matters, not paperwork. We automate portfolio tracking so you can optimize
                    returns.

                    Take the guesswork out of investing. Make smarter moves with real-time data at your fingertips.</p>
                {% if user.is_authenticated %}

                {% else %}
                      <div><a href="{% url 'user_login' %}" class="btn-get-started scrollto">Get Started</a></div>
                {% endif %}
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{% get_media_prefix %}hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->