{% load static %}
<section>
    <div class=" mt-12  rounded-xl px-5 sm:px-10  pt-8 pb-4 relative  bg-no-repeat bg-right
                bg-contain ">
        <img src="{{ image.url }}" alt="Example" style="width:150px; height:150px;
                    float:Right;">
        <div class="text-rose-400 font-semibold text-lg">Status</div>


        <div class="mt-6 grid grid-cols-1 xs:grid-cols-2 gap-y-6  gap-x-6 md:flex md:space-x-6 md:gap-x-0 ">
            <!-- <div class="mt-6 grid grid-cols-4 max-w-max gap-x-6"> -->

            <!-- <div class="flex flex-col w-40 text-gray-700 text-sm space-y-2">
                <label for="start-date">Begin Date</label>
                <input id="startdate" type="date" value="2019-11-01"
                    class="bg-indigo-800/80 text-white  px-4 py-3 rounded-lg ">
            </div> -->


            <div class="flex flex-col  md:w-40  text-gray-600 text-sm space-y-2 font-semibold">
                <label for="client">Total Principal</label>
                <br>
                <div class="inline-flex relative">
                    <input class=" text-gray-600 tracking-wider pl-4 pr-10 py-3 rounded-lg appearance-none w-full
                    outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                           id="client" name="client" type="text" value="
{{ total_sum|floatformat:2 }}$">

                </div>
            </div>

            <div class="flex flex-col md:w-40  text-gray-600 text-sm space-y-2 font-semibold">
                <label for="client">Profit/Loss</label>
                <br>
                <div class="inline-flex relative">
                    {% if profit < 0 %}
                        <input class=" text-gray-600  tracking-wider pl-4  py-3 rounded-lg
                         appearance-none w-full outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                               id="client" name="client" type="text" value="{{ profit|floatformat:2 }}$   %
{{ yuzde|floatformat:2 }}" style="color: red;font-weight: bold;">
                    {% elif your_value > 0 %}
                        <input class="text-gray-600 tracking-wider pl-4  py-3 rounded-lg
                         appearance-none w-full outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                               id="client" name="client" type="text" value="{{ profit|floatformat:2 }}$   %
{{ yuzde|floatformat:2 }}" style="color: green;font-weight: bold;">
                    {% else %}
                        <input class="text-gray-600 tracking-wider pl-4 py-3 rounded-lg appearance-none w-full outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                               id="client" name="client" type="text" value="{{ profit|floatformat:2 }}$   %
{{ yuzde|floatformat:2 }}" style="color: green;font-weight: bold;">
                    {% endif %}
                </div>
            </div>

            <div class="flex flex-col md:w-40  text-gray-600 text-sm space-y-2 font-semibold">
                <label for="client">Best performing stock</label>


                    <div class="inline-flex relative">
                        <input class="text-gray-600 tracking-wider pl-4  py-3 rounded-lg appearance-none w-full outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                               id="client" name="client" type="text"
                               value="{{ en_buyuk_profit.stock }}:{{ en_buyuk_profit.profit }}$">

                    </div>

            </div>

            <div class="flex flex-col md:w-40  text-gray-600 text-sm space-y-2 font-semibold">
                <label for="client">Worst performing stock</label>

                    <div class="inline-flex relative">
                        <input class="text-gray-600 tracking-wider pl-4  py-3 rounded-lg appearance-none w-full outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
                               id="client" name="client" type="text" value="
{{ en_kucuk_profit.stock }}:{{ en_kucuk_profit.profit }}$">

                    </div>

            </div>


        </div>

        <div class="mt-5 text-gray-500 text-sm ">
            * This data has been shown according to your given information
        </div>
    </div>

</section> <!-- /Filters Section -->