{% load static %}
<!-- Invoice List Table -->
<section class="">
    <!-- Table Header -->
    <div class="invoice-table-row invoice-table-header bg-white mt-10 rounded-xl px-10  py-4 flex items-center gap-x-3 text-sm font-semibold  text-gray-600">
        <div class="text-left">Invoice</div>
        <div class="text-left">Client name</div>
        <div class="text-center">Date</div>
        <div class="text-center ">Due date</div>
        <div class="text-right">Total</div>
        <div class="flex-1  text-center">Status</div>
    </div><!-- /Table Header -->


    <!-- Table Body -->
    <div class="bg-white mt-5 rounded-xl text-sm  text-gray-500 divide-y divide-indigo-50 overflow-x-auto  shadow">

        <div class="invoice-table-row flex items-center gap-x-3 px-10 py-4">
            <div class="text-left ">12</div>
            <div class="text-left">John Doe</div>
            <div class="text-center">2019/11/20</div>
            <div class="text-center">2019/12/20</div>
            <div class="text-right">$10.00</div>
            <div class="text-center ">
                <span class="px-4 py-1 rounded-lg bg-rose-400  text-white">Draft</span>
            </div>
        </div>

        <div class="invoice-table-row flex items-center gap-x-3 px-10 py-4">
            <div class="text-left">13</div>
            <div class="text-left">Thomas Bride</div>
            <div class="text-center">2019/11/20</div>
            <div class="text-center">2019/12/20</div>
            <div class="text-right">$670.00</div>
            <div class="text-center ">
                <span class="px-4 py-1 rounded-lg bg-indigo-400  text-white">Paid</span>
            </div>
        </div>

        <div class="invoice-table-row flex items-center gap-x-3 px-10 py-4">
            <div class="text-left">14</div>
            <div class="text-left">Ellen Bean</div>
            <div class="text-center">2019/11/20</div>
            <div class="text-center">2019/12/20</div>
            <div class="text-right">$1032.00</div>
            <div class="text-center ">
                <span class="px-4 py-1 rounded-lg bg-rose-400  text-white">Draft</span>
            </div>
        </div>

        <div class="invoice-table-row flex items-center gap-x-3 px-10 py-4 bg-indigo-50">
            <div class="text-left">15</div>
            <div class="text-left">Jack Sanders</div>
            <div class="text-center">2020/11/20</div>
            <div class="text-center">2020/12/20</div>
            <div class="text-right">$590.00</div>
            <div class="text-center ">
                <span class="px-4 py-1 rounded-lg bg-indigo-400  text-white">Paid</span>
            </div>
        </div>

        <div class="invoice-table-row flex items-center gap-x-3 px-10 py-4">
            <div class="text-left">16</div>
            <div class="text-left">Leslie Ive</div>
            <div class="text-center">2020/11/20</div>
            <div class="text-center">2020/12/20</div>
            <div class="text-right">$230.00</div>
            <div class="text-center ">
                <span class="px-4 py-1 rounded-lg bg-rose-400  text-white">Draft</span>
            </div>
        </div>


    </div><!-- /Table Body -->
</section>
<!-- /Invoice List Table -->