{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="sim__layout__content ">


        <div class="sim__layout">


            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">

                <div class="blockquote pt-4 mt-4 border-bottom">
                    <cite title="Title">Add Trade</cite>
                </div>
                <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                  {% include 'partials/_add_tracking.html' %}
            </blockquote><!-- END -->



        </div>
    </div>
{% endblock %}