{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.html' %}
{% block css %}

{% endblock %}

<body class="font-montserrat " style="font-family: 'Courier New', Courier, monospace;">
{% include 'partials/messages.html' %}

{% include 'partials/modal.html' %}
{% block content %}


{% endblock %}

{% block scripts %}

{% endblock %}

<script>


    function fadeOutAlert() {
        var alert = document.getElementById("alert");
        var opacity = 1;
        var timer = setInterval(function () {
            if (opacity <= 0) {
                clearInterval(timer);
                alert.remove();
            }
            alert.style.opacity = opacity;
            opacity -= 0.05;
        }, 50);
    }

    window.onload = function () {
        fadeOutAlert();
    }
</script>


</body>

</html>