{% load static %}
<!DOCTYPE html>
<html lang="en">

<body class="sim__menuleft__slider">
<div class="initial__loading"></div>
<!-- sidebar  -->

{% include 'dashboard/sidebar.html' %}
<!-- //////////////////////////////// -->
{% include 'partials/_head.html' %}

<!-- header  -->
{% include 'dashboard/d_header.html' %}
<!-- //////////////////////////////// -->


{% block content %}
    <body class="font-montserrat " style="font-family: 'Courier New', Courier, monospace;">
    <div class="sim__layout">


        <!-- Footer -->
        {% include 'dashboard/d_footer.html' %}
        <!-- ///////////////////////////////// -->


    </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
{% endblock %}



