{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <div class="flex min-h-screen 2xl:max-w-7xl 2xl:mx-auto 2xl:border-x-2 2xl:border-indigo-50 ">
        {% include 'partials/_sidebar.html' %}

        <main class="bg-indigo-50/60 w-full py-10 px-3 sm:px-10">

            {% include 'partials/_start2.html' %}
            <div class="mb-10">
                <h1>Stock List</h1>
            </div>
            {% include 'partials/_stocks.html' %}
        </main>
    </div>
{% endblock %}