{% load static %}
{% load humanize %}

<div class="sim__layout__content">
    <div class="sim__card">
        <div class="sim__card__single">
            <div class="sim__card__details">
                {% if money_transactions < 0 %}
                    <h3 class="sim__card__count" style="color: red">Available Money : {{ money_transactions|intcomma }}
                        $</h3>
                {% else %}
                    <h3 class="sim__card__count" style="color: green">Available Money :
                        {{ money_transactions|intcomma }} $</h3>
                {% endif %}

                <span class="sim__card__text">Money Spent : {{ total_stock|intcomma }} $</span>
            <div>
                <span class="sim__card__text">Principal : {{ withdraw_total|intcomma }} $</span>

            </div>
            <span class="sim__card__text">Walet</span>

            </div>
            <div class="sim__card__icon c-primary">
                <i class="las la-wallet"></i>
            </div>
        </div>
        {% if profit < 0 %}
            <div class="sim__card__single">
                <div class="sim__card__details">
                    <h3 class="sim__card__count">{{ profit|intcomma }} $ % {{ yuzde|floatformat:2 }}</h3>
                    <span class="sim__card__text">Profit</span>
                </div>
                <div class="sim__card__icon c-danger">
                    <i class="las la-money-bill-wave"></i>
                </div>
            </div>
        {% else %}
            <div class="sim__card__single">
                <div class="sim__card__details">
                    <h3 class="sim__card__count">{{ profit|intcomma }} $ % {{ yuzde|floatformat:2 }}</h3>
                    <span class="sim__card__text">Profit</span>
                </div>
                <div class="sim__card__icon c-success">
                    <i class="las la-money-bill-wave"></i>
                </div>
            </div>
        {% endif %}

        <div class="sim__card__single">
            <div class="sim__card__details">
                <h5 class="sim__card__count">{{ en_buyuk_profit.stock }}
                    :{{ en_buyuk_profit.profit|intcomma }}
                    $</h5>
                <span class="sim__card__text">Best performing stock</span>
            </div>
            <div class="sim__card__icon c-primary">
                <i class="las la-arrow-alt-circle-up"></i>
            </div>
        </div>
        <div class="sim__card__single">
            <div class="sim__card__details">
                <h5 class="sim__card__count">{{ en_kucuk_profit.stock }}
                    :{{ en_kucuk_profit.profit|intcomma }}
                    $</h5>
                <span class="sim__card__text">Worst performing stock</span>
            </div>
            <div class="sim__card__icon c-primary">
                <i class="las la-arrow-alt-circle-down"></i>
            </div>
        </div>

    </div>

    <div class="sim__row sim__row--col3">
        <div class="sim__col sim__col--p">
            <div class="sim__col__header">
                <div class="sim__col__header__details">
                    <h4 class="sim__col__title">Profit Graph</h4>
                </div>
                <div class="sim__col__header__dropdown">
                    <i class="las la-ellipsis-v"></i>
                </div>

            </div>
            <div class="sim__col__body">

                <canvas id="myChart"></canvas>
                <script>
                    // JavaScript
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ labels|safe }},
                            datasets: [{
                                label: '# Profit',
                                data: {{ data|safe }},
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>


            </div>
        </div>
        <div class="sim__col sim__col--p">
            <div class="sim__col__header">
                <div class="sim__col__header__details">
                    <h4 class="sim__col__title">Completed Trades
                    </h4>
                </div>
                <div class="sim__col__header__dropdown">
                    <i class="las la-ellipsis-v"></i>
                </div>
            </div>
            <div class="sim__col__body">
                {% for item in transactions1 %}
                    <div class="sim__col__browser__status">
                        <div class="sim__col__media">
                            {% if item.sell_price < item.buy_price %}
                                <div class="sim__col__media__avatar c-danger">
                                    <i class="las la-arrow-alt-circle-down"></i>
                                </div>
                            {% else %}
                                <div class="sim__col__media__avatar c-success">
                                    <i class="las la-arrow-alt-circle-up"></i>
                                </div>
                            {% endif %}

                            <div class="sim__col__media__content">
                                <h6 class="sim__col__text">{{ item.stock }}</h6>
                                <small class="sim__col__stext"
                                >Buy Price:{{ item.buy_price }}</small>
                                <div id="buy_price_{{ forloop.counter }}" data-mydata="{{ item.buy_price }}"></div>
                            </div>
                            <div class="sim__col__media__content">
                                <h6 class="sim__col__text">{{ item.stock }}</h6>
                                <small class="sim__col__stext"
                                >Sell Price:{{ item.sell_price }}</small>
                                <div id="sell_price_{{ forloop.counter }}" data-mydata="{{ item.sell_price }}"></div>
                            </div>
                            <div id="myDiv_{{ forloop.counter }}" data-mydata="{{ item.shares }}"></div>
                        </div>
                        <div class="sim__col__media__content">
                            <h6 class="sim__col__text">PROFIT</h6>
                            <small class="sim__col__stext" id="result_{{ forloop.counter }}"></small>
                            <script>
                                var firstValue = parseFloat(document.getElementById('buy_price_{{ forloop.counter }}').getAttribute("data-mydata"));
                                var secondValue = parseFloat(document.getElementById('sell_price_{{ forloop.counter }}').getAttribute("data-mydata"));
                                var shares = parseFloat(document.getElementById("myDiv_{{ forloop.counter }}").getAttribute("data-mydata"));
                                var result = (secondValue - firstValue) * shares;
                                if (result < 0) {
                                    document.getElementById('result_{{ forloop.counter }}').style.color = "red";
                                } else {
                                    document.getElementById('result_{{ forloop.counter }}').style.color = "green";
                                }

                                var resultDiv = document.getElementById('result_{{ forloop.counter }}');
                                resultDiv.textContent = result.toFixed(2);
                            </script>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <div class="sim__col sim__col--p">
            <div class="sim__col__header">
                <div class="sim__col__header__details">
                    <h4 class="sim__col__title">Transactions
                    </h4>
                </div>
                <div class="sim__col__header__dropdown">
                    <i class="las la-ellipsis-v"></i>
                </div>
            </div>
            <div class="sim__col__body">
                {% for item in  money_transactions_all %}


                    <div class="sim__col__browser__status">

                        {% if item.transaction_type == "withraw" %}
                            <div class="sim__col__media">
                                <div class="sim__col__media__avatar c-success">
                                    <i class="las la-wallet"></i>
                                </div>
                                <div class="sim__col__media__content">
                                    <h6 class="sim__col__text">{{ item.transaction_type }}</h6>

                                </div>
                            </div>
                            <div class="sim__col__details">
                                <span class="sim__col__text text-success fw-600">+ {{ item.amount }}</span>
                            </div>
                        {% elif item.transaction_type == "deposit" %}
                            <div class="sim__col__media">
                                <div class="sim__col__media__avatar c-danger">
                                    <i class="las la-wallet"></i>
                                </div>
                                <div class="sim__col__media__content">
                                    <h6 class="sim__col__text">{{ item.transaction_type }}</h6>
                                </div>
                            </div>
                            <div class="sim__col__details">
                                <span class="sim__col__text text-danger fw-600">- {{ item.amount }}</span>
                            </div>
                        {% endif %}


                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <div class="sim__row sim__row--col1">
        <div class="sim__col">
            <div class="sim__col__header sim__col--p">
                <div class="sim__col__header__details">
                    <h4 class="sim__col__title">Latest Trades
                        <ion-icon name="chevron-down-outline"></ion-icon>
                    </h4>
                </div>
            </div>
            <div class="sim__col__body p-lr1">
                <div class="sim__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="text-left">Stock ID</th>
                            <th class="text-left">Stock</th>
                            <th class="text-left">Buy Price</th>
                            <th class="text-center">Sell Price</th>
                            <th class="text-left">Shares</th>
                            <th class="text-left">Profit</th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in transactions %}
                            <tr>
                                <td><a class="fw-bold" href="#"> {{ item.id }} </a></td>
                                <td>{{ item.stock }}</td>
                                <td>{{ item.buy_price }}</td>
                                <td class="text-center">{{ item.sell_price }}</td>
                                <td><span class="badge-pill">{{ item.shares }}</span></td>


                                {% if item.profit < 0 %}
                                    <td><span class="badge-pill c-danger">{{ item.profit }}</span></td>
                                {% else %}

                                    <td><span class="badge-pill c-success">{{ item.profit }}</span></td>
                                {% endif %}



                                {% if item.sell_price == 0 %}
                                    <td class="text-center">
                                        <a href="{% url 'update_track' item.id %}">
                                            <button type="button" class="btn btn-outline-danger">Sell</button>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'update_price' item.id %}">
                                            <button type="button" class="btn btn-outline-success">Buy</button>
                                        </a>

                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>