{% load static %}
<header class="sim__header">

    <div class="sim__header__trigger">
        <i class="las la-align-left sim__header__icon"></i>
    </div>

    <div class="sim__header_content">
            <a href="{% url 'index' %}" class="no-underline mx-2" style="text-decoration: none;color: #6E6B7B">Home</a>
        <div class="sim__header__notify">



            <div class="sim__header__notify__area">



                <div class="sim__header__notify__footer">
                    <a class="sim__header__notify__seemore" href="#"><i class="las la-arrow-circle-right"></i>View
                        More...</a>
                </div>
            </div>
        </div>
        <div class="sim__header__userwarapper">

            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    {% if fullname == "" %}

                        <span class="sim__header__userrole">Welcome {{ user.username }}</span>
                        <div class="sim__header__submenu">
                            <a class="sim__header__submenu__link" href="{% url 'index' %}"><i
                                    class="las la-question-circle"></i>Home</a>
                            <a class="sim__header__submenu__link" href="{% url 'account' %}"><i
                                    class="las la-user-circle"></i></i>My
                                Account</a>


                            <a class="sim__header__submenu__link" href="{% url 'special_admin' %}"><i
                                    class="las la-lock"></i>Admin</a>
                            <div class="sim__header__submenu__divider"></div>
                            <a class="sim__header__submenu__link" href="{% url 'user_logout' %}"><i
                                    class="las la-sign-out-alt"></i>Logout</a>
                        </div>


                    {% else %}


                        <span class="sim__header__userrole">Welcome {{ fullname }}</span>
                        <div class="sim__header__submenu">
                            <a class="sim__header__submenu__link" href="{% url 'index' %}"><i class="las
                            la-question-circle"></i>Home</a>
                            <a class="sim__header__submenu__link" href="{% url 'account' %}"><i class="las
                            la-user-circle"></i></i>My
                                Account</a>


                            <a class="sim__header__submenu__link" href="{% url 'special_admin' %}"><i
                                    class="las
                            la-lock"></i>Admin</a>
                            <div class="sim__header__submenu__divider"></div>
                            <a class="sim__header__submenu__link" href="{% url 'user_logout' %}"><i class="las
                            la-sign-out-alt"></i>Logout</a>
                        </div>



                    {% endif %}

                {% else %}

                    {% if fullname == "" %}

                        <span class="sim__header__userrole">Welcome {{ user.username }}</span>
                        <div class="sim__header__submenu">
                            <a class="sim__header__submenu__link" href="{% url 'index' %}"><i
                                    class="las la-question-circle"></i>Home</a>
                            <a class="sim__header__submenu__link" href="{% url 'account' %}"><i
                                    class="las la-user-circle"></i></i>My
                                Account</a>


                            <div class="sim__header__submenu__divider"></div>
                            <a class="sim__header__submenu__link" href="{% url 'user_logout' %}"><i
                                    class="las la-sign-out-alt"></i>Logout</a>
                        </div>


                    {% else %}


                        <span class="sim__header__userrole">Welcome {{ fullname }}</span>
                        <div class="sim__header__submenu">
                            <a class="sim__header__submenu__link" href="{% url 'index' %}"><i class="las
                            la-question-circle"></i>Home</a>
                            <a class="sim__header__submenu__link" href="{% url 'account' %}"><i class="las
                            la-user-circle"></i></i>My
                                Account</a>


                            <div class="sim__header__submenu__divider"></div>
                            <a class="sim__header__submenu__link" href="{% url 'user_logout' %}"><i class="las
                            la-sign-out-alt"></i>Logout</a>
                        </div>



                    {% endif %}

                {% endif %}

            {% endif %}


        </div>
    </div>
</header>

<script src="{% static 'js/jquery.min-1.js' %}"></script>
<script src="{% static 'js/main1.js' %}"></script>
<script>
    $('.sim__menuLeft__submenu--toggled').click(function () {
        $(this).next('.sim__menuLeft__item__submenu').slideToggle(400);
        $(this).toggleClass('active-submenu');
    });
</script>