{% load static %}
<link rel="stylesheet" href="{% static 'style/main.css' %}">
<link rel="stylesheet" href="{% get_media_prefix %}icons/line-awesome-1.3.0/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<aside class="sim__menuleft">
    <div class="sim__menuleft__outer">
        <div class="sim__menuleft__brand sim__menuleft__brand--bg">
            <h3 class="sim__menuleft__brand__name">STOCK TRADE</h3>
        </div>

        <div class="sim__menuleft__content sim__menuleft__content--scroll">
            <ul class="sim__menuleft__navigation">
                <li class="sim__menuleft__category">
                    Menu
                </li>
                <li class="sim__menuleft__item">
                    <a id="home-page" href="{% url 'dashboard' %}" class="sim__menuleft__item__link dasboard">
                        <i class="sim__menuleft__item__icon las la-border-all"></i>
                        <span class="sim__menuleft__item__title">Dashboard</span>
                    </a>
                </li>

                <li class="sim__menuleft__item">
                    <a href="{% url 'track_list' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-shopping-basket"></i>
                        <span class="sim__menuleft__item__title">My Trade</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'principal' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-money-bill"></i>
                        <span class="sim__menuleft__item__title">Transactions</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'stock_list' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-coins"></i>
                        <span class="sim__menuleft__item__title">Stocks</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'account' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-user"></i>
                        <span class="sim__menuleft__item__title">Account</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'change_pass' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-passport"></i>
                        <span class="sim__menuleft__item__title">Change Password</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'settings' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-prescription"></i>
                        <span class="sim__menuleft__item__title">Settings</span>
                    </a>
                </li>
                <li class="sim__menuleft__item">
                    <a href="{% url 'messages' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-address-book"></i>
                        <span class="sim__menuleft__item__title">Messages</span>
                    </a>
                </li>

                <li class="sim__menuleft__item">
                    <a href="{% url 'notifications' %}" class="sim__menuleft__item__link">
                        <i class="sim__menuleft__item__icon las la-bell"></i>
                        <span class="sim__menuleft__item__title">Notifications</span>
                    </a>
                </li>
                <li class="sim__menuleft__category">
                    Social İcons Pages


                </li>
            </ul>
        </div>
    </div>
</aside>